{% extends "layout.html" %}
{% block content %}

<div class="">
<p>TRAINING_DISCHARGE PLOT</p>
<img src="static/image1.png" alt="TRAINING_DISCHARGE PLOT" style="width:20,000px;height: 1000px;">
</div>
<div class="">
    <p>TESTING_DISCHARGE PLOT</p>
    <img src="static/image2.png" alt="TESTING_DISCHARGE PLOT" style="width:5000px;height:1000px;">
</div>

<div class="">
    <p>Training_Discharge_ScatterPlot</p>
    <img src="static/image3.png" alt="Training_Discharge_ScatterPlot" style="width:5000px;height: 600px;">
</div>

<div class="">
    <p>Testing_Discharge_ScatterPlot</p>
    <img src="static/image4.png" alt="Testing_Discharge_ScatterPlot" style="width:5000px;height: 600px;">
</div>



{% endblock content %}
